.chat-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.chat-modal {
    background: #4482c3;;
    padding: 20px;
    width: 300px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

.chat-content {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.messages {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
    height: 300px; /* 채팅 메시지 박스의 높이 */
    min-width: 250px;
    overflow-y: auto; /* 스크롤 생성 */
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
}

.message {
    display: flex;
    justify-content: flex-start; /* 기본적으로 왼쪽 정렬 */
}

.message.outgoing {
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.message p {
    max-width: 70%; /* 메시지 너비 제한 */
    padding: 5px;
    border-radius: 10px;
    margin: 4px 0;      /* 메시지 간 간격 */
}

.message.incoming p {
    background-color: #e0e0e0; /* 수신 메시지 배경색 */
}

.message.outgoing p {
    background-color: #e0e0e0; /* 발신 메시지 배경색 */
}

.chat-title {
    color: white;
}